
body {
	background:#434c5e;
	font-family: Arial, Helvetica, san-serif;
}

.assignments {
	display: flex;
	flex-wrap:wrap;
}
.assignment {
	width: 25%;
    padding:40px;
    margin-left:10px;
    margin-right:10px;
    margin-top:40px;
    margin-bottom:40px;
    background:#4c566a;
    color:#eceff4;
    border-radius:8px;
    box-shadow: 6px 6px #2e3440;
}

.assignment img {
    width: 300px;
    height: 300px;
    margin-right: 20px;
    border: 8px solid #81a1c1;
    border-radius:8px;
    display:block;
    margin:auto;
}

h1 {
    padding: 20px;
    margin: 10px;
    background:#4c566a;
	color:#eceff4;
	text-align:center;
	box-shadow: 6px 6px #2e3440;
	border-radius:8px;
}

a {
    text-decoration:none;
    color: #eceff4;
}

.assignment a:hover{
    color: #81a1c1;
}

